<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipe List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <button (click)="onNewRecipe()">New Recipe</button>
        </div>
      </div>
      <br />
      <hr />
      <div class="row">
        <div class="col-md-6">
          <!-- <a
      href="#"
      class ="list-group-item clearfix"
      *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
    <span class="pull-right">
      <img
          src=" {{ recipe.imagePath }}"
           style="max-height: 50px;">
    </span>
    </a> -->

          <!-- <app-recipe-item
            *ngFor="let recipeEl of recipes"
            [recipe]="recipeEl"
            recipeSelected)="onRecipeSelected(recipeEl)"
          ></app-recipe-item> -->

          <!-- using service for cross component communication -->
          <app-recipe-item
          *ngFor="let recipeEl of recipes; let i = index"
          [recipe]="recipeEl"
          [index]="i"
          ></app-recipe-item>
        </div>
      </div>
    </div>
  </body>
</html>
