<!-- <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
  crossorigin="anonymous"
/> -->


  <app-comp1></app-comp1>
  <div><hr /></div>

  <!-- two way binding example -->
  <app-comp2 [value]="currentvalue"></app-comp2>

  <div><hr /></div>
  <app-comp3></app-comp3>

  <app-pipes></app-pipes>

  <div></div>
  <br />
  <hr />
  <app-http-requests></app-http-requests>

