
<h2>Component1</h2>
<p>String interpolation: {{name}}</p>
<p>Property binding: <button class="btn btn-primary"[disabled]="!allowNewServer" (click)="populate()" >Add Server</button></p>
<p *ngIf="allowNewServer">Structural directive when true</p>
<span *ngIf="lengthCondition" ngClass="lengthCondition">No of added Servers: {{this.val.length}}</span><br>
<li *ngFor="let item of val">
  {{item}}</li>
<input [(ngModel)]= "username" type="text">
<p>Value from 2 way binding: {{username}}</p>
<p>Message from child component: {{message}}</p>

<br><br>
<h3>Reactive Form</h3>
<form >
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>

<app-child1 (greetEvent)="greet($event)"></app-child1>


